@import url('https://fonts.googleapis.com/css?family=Sarabun:200');

html, body {
  margin: 0px;
}

body {
  background-color: #333;
  font-family: 'Sarabun', sans-serif;
}

h2 {
  position: relative;
  right: -40px;
  font-size: 40px;
  letter-spacing: 20px;
  color: #DEFF96;
  text-align: right;
}

img {
  width: 630px;
  top: 60px;
  position: relative;
}

.decoration {
  position: absolute;
  width: 650px;
  top: 170px;
}

.people {
  top: 60px;
  position: relative;
}

p.names {
  font-size: 20px;
  letter-spacing: 10px;
  color: #FFD26C;
}

p.names span {
  cursor: pointer;
}

p span:hover {
  color: #DEFF96;
}

p.hint {
  color: #777;
}

.container {

  display: flex;
  align-items: center;
  justify-content: center;
}

.center {

}
